section#invitation-content {
  .logo {
    height: 10em;
    display: block;
  }
  .btn {
    padding: 0.5em 1em;
    background-color: #0066CC;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .button-wrapper {
    margin: 1em;
  }
}
