@mixin margin($top, $right, $bottom, $left) {
  margin: {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left
  }
}

@mixin padding($top, $right, $bottom, $left) {
  padding: {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left
  }
}

@mixin border($top, $right, $bottom, $left) {
  border: {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left
  }
}

@mixin full-height {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@mixin background-opacity($color, $opacity) {
  background-color: rgba($color, $opacity);
}

@mixin equal-height-width($value) {
  height: $value;
  width: $value;
}

// Animations
// ----------------------------------------------------------------------

@keyframes avatar {
  from {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes menu {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadedown {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bottom-to-top {
  from {
    transform: translateY(300%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes stats {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes bullet {
  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
