
.avatar-photo {
  position: relative;
  width: 250px;
  height: 250px;
  position: relative;
  background-color: #666;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 0 6px #fff, 0 0 0 7px #ccc;
  z-index: 3;
  &:hover {
    cursor: pointer;
    .avatar-edit i {
      opacity: 0.8;
      font-size: 100px;
    }

  }
  input[type=file] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-opacity: 0;
    opacity: 0;
    z-index: 9;
    display: block;
  }
  .avatar-edit {
    text-align: center;
    span {
      transition: all 0.3s ease;
      width: 100%;
      font-size: 16px;
      font-weight: 900;
      text-align: center;
      position: absolute;
      z-index: 5;
      bottom: 5px;
      right: 5px;
      color: white;
    }
    i {
      text-align: center;
      transition: all 0.3s ease;
      position: absolute;
      z-index: 5;
      color: white;
      top: 24px;
      right: 24px;
      font-size: 92px;
      opacity: 0.2;
    }
  }
  .valign {
    margin: auto;
    width: 250px;
    height: 250px;
  }
}
