.beacon {
  display: inline-block;
  position: absolute;
  background-color: #F48762;
  height: 1em;
  width: 1em;
  margin-top: 4px;
  border-radius: 50%;
}

.beacon.In:before,
.beacon.Back.From.Lunch:before {
  position: absolute;
  content: "";
  height: 1.1em;
  width: 1.1em;
  left: 0;
  top: 0;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px #2980b9;
  -webkit-animation: active 2s infinite linear;
  animation: active 2s infinite linear;
}

.In, .Back.From.Lunch {
  background-color: $green !important;
}

.Out, .completed {
  background-color: $dark-gray !important;
}

.Out.to.Lunch, .Break {
  background-color: $yellow !important;
}

@-webkit-keyframes active {
  0% {
    -webkit-transform: scale(.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(2.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes active {
  0% {
    transform: scale(.1);
    opacity: 1;
  }
  70% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}