.beacon {
  border: 3px solid white;
  display: inline-block;
  position: absolute;
  @include margin(1.5em, 0, 0, 2em);
  background-color: #F48762;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.beacon.green:before {
  position: absolute;
  content: "";
  height: 1.1em;
  width: 1.1em;
  left: 0;
  top: 0;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px #2980b9;
  -webkit-animation: active 2s infinite linear;
  animation: active 2s infinite linear;
}

@-webkit-keyframes active {
  0% {
    -webkit-transform: scale(.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(2.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes active {
  0% {
    transform: scale(.1);
    opacity: 1;
  }
  70% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}