@import './partial/_public-body';
@import '_helpers';

section#body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-wrapper {
  @extend section#body;
  background-image: url("/Assets/teams/default/background/Software_internal_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .body-container {
    @extend section#body;
    margin: 0 4em;
    main#main {
      background-color: #f6f6f6;
    }
  }
}

main#main {
  flex: 1 0 auto;
}

.full-width {
  width: 100%;
}

nav {
  margin: 0.7em 0;
  background-color: transparent;
  box-shadow: none;
  .brand-logo {
    left: 0 !important;
    transform: translateX(0%);
  }
}

.page-title {
  background-color: white;
  margin: -0.8em;
  padding: 0.5em 1.5em;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 0;
  h5 {
    color: #0a6c86;
  }
}

#horizontal-nav {
  margin-bottom: 0;
}

// fonts
h5 {
  font-weight: 400;
}

p {
  font-size: responsive 12px 14px !important;
}

.icon-span {
  margin: 0 10px;
}

.title {
  padding: 0 0.75em;
}

.subtext {
  color: #9e9ea6;
}

// Button

.btn-menu {
  padding: 0 5px;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

// Label
.table-row-active {
  background-color: #68c73f;
  color: white;
}

.table-row-weekend {
  background-color: #D6D6D6;
  color: white;
}

.ribbon {
  border: 0 solid darken($theme-color, 20%);
  left: calc(.05rem - 1.2em);
  position: absolute;
  top: 1rem;
  color: #fff !important;
  @include padding(0.5em, 1.2em, 0.5em, calc(1rem + 1.2em));
  border-radius: 0 .28571429rem .28571429rem 0;
  line-height: 1;
  font-weight: 700;
  &:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    background-color: transparent !important;
    border-style: solid;
    border-width: 0 1.2em 1.2em 0;
    border-color: transparent;
    border-right-color: inherit;
    width: 0;
    height: 0;
  }
}

//inputs
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $theme-color;
  box-shadow: 0 1px 0 0 $theme-color;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $theme-color !important;
}

textarea.materialize-textarea {
  min-height: 1px;
}

.picker {
  .picker__weekday-display {
    background-color: darken($theme-color, 7%);
  }
  .picker__date-display {
    background-color: $theme-color;
  }
  .btn-flat {
    background-color: transparent !important;
  }
  .picker__close, .picker__today {
    color: $theme-color;
  }
  td {
    padding: 0 !important;
  }
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid $theme-color;
  border-bottom: 2px solid $theme-color;
}

.select-dropdown li.disabled {
  span {
    color: rgba(0, 0, 0, 0.3);
  }
}

.dropdown-content {
  li.active {
    span {
      color: $theme-color;
    }
  }
  span {
    color: black;
  }
}

.input-field .prefix.active {
  color: #2196F3 !important;
}

// bg-color
.theme-color {
  background-color: $theme-color;
}

.theme-text {
  color: $theme-color;
}

.translucent-background {
  background-color: rgba(30, 30, 30, 0.65);
  padding: 2em;
  border-radius: 1em;
}

.green {
  background-color: #4CAF50 !important;
}

.remotiv-text {
  margin: 10px 5px !important;
  text-shadow: 2px 2px 4px #000000;
  font-family: "kabegnos", sans-serif;
  text-transform: lowercase;
  letter-spacing: -1px;
  font-style: normal;
  color: white;
  h1, h2, h3, h4, h5, h6 {
    @extend .no-margin;
    span {
      color: #94C73C;
    }
  }

  .sub-text {
    color: #F4CE57;
    font-family: "Maven Pro", sans-serif;
  }
}

.brand-logo {
  img {
    height: 2em;
  }
  .remotiv-text {
    margin: 5px;
    position: absolute;
    @extend .remotiv-text;
  }
}

.remotiv-background {
  filter: blur(2px);
  background-position: center;
  background-image: url(/Assets/teams/default/background/remotiv_io_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

// table
table.centered tfoot tr th, table.centered tfoot tr td {
  text-align: center;
}

table {
  td, th {
    padding: 1px;
  }
  th {
    color: #6c6c6c;
  }
  td {
    color: #2f5f5b;
  }
}

tfoot {
  border-top: 2px solid $theme-color;
}

// list
.collection a.collection-item {
  color: #000000 !important;
}

ul.dropdown-content {
  li {
    a {
      color: #000000;
      i {
        color: $theme-color;
      }
    }
  }
}

.big-logo {
  height: 15em;
  img {
    height: 100%;
    width: auto;
  }
}

//border
.circular-border {
  border-radius: 0.5em;
}

//error
.error-container {
  @extend .circular-border;
  padding: 1em 1.5em;
  border: 1px solid #F44336;
  background-color: #FFE8E6;
}

.error-text {
  font-weight: 700;
  color: #F44336;
}

.form-group {
  input {
    margin: 0;
  }
  &.error {
    input {
      color: white !important;
      border-bottom: 2px solid #F44336 !important;
    }
    .validation-error {
      @extend .error-text;
      font-size: 13.5px;
    }
  }
}

//spacing
.col {
  margin: 0.5em 0;
}

.btn-block {
  display: block !important;
}

form {
  .row {
    margin-bottom: 0;
  }

  button {
    background-color: $theme-color !important;
  }
  .modal-footer {
    button {
      margin-left: 5px;
    }
  }

  .card-panel {
    box-shadow: none;
    padding: 0;
  }
}

.dropzone-wrapper {
  margin: 0.5em;
  width: 100%;
  height: auto;
  background-color: #E6E6E6;
  border: 2px dashed $theme-color;
  border-radius: 5px;

  .dropzone-container {
    text-align: center;
    font-weight: 500;
    margin: 25% 0;
  }
}