@font-face {
  font-family: "kabegnos";
  src: url("/font/kabegnos/kabegnos.woff") format("woff"),
  url("/font/kabegnos/kabegnos.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//maven pro
/*TODO: the source "kabegnos" to "remotiv.io" and the tagline, the "Maven Pro" source.*/
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:700);

