section#add-new-staff {
  margin: 0 2em;
  .add-team {
    margin-right: 0;
  }
}

section#staff-settings {

  margin: 0;
  .icons {
    i {
      cursor: pointer;
    }
  }
  .staff-profile-details {
    .status {
      margin-left: 15px;
      min-width: 20em;
    }
    .profile-header {
      vertical-align: top;
      margin-top: 3em;
    }
  }
  #permissions {
    transition: right .3s;
    position: absolute;
    right: 0;
    width: 29.5em;
    padding: 0 0.5em !important;
    .s8 {
      width: 100%;
    }
  }
  #permissions.false {
    right: -500px;
  }
}
