section.comments {
  .instruction-list {
    height: 36vh;
    border-right: 1px solid $gray-line;
    table {
      tr {
        border-bottom: 1px solid $gray-line;
      }
    }
  }
  .materialize-textarea{

  }
}