section.entry-point {
  .dotted-overlay {
    background: url(/Assets/landing/bg/gridtile.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -99;
  }
  .video-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -100;

    height: 100%;
    overflow: hidden;
  }
  video#background-video {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: url(/Assets/landing/bg/poster.png) no-repeat;
    background-size: cover;
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container.body {
    margin-top: 6em;
    @include margin(6em, auto, 2.5em, auto);
    padding: 0 2.5em;
    h1 {
      font-weight: 900;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .4));
    }
  }
}