section#header {
  nav .brand-logo {
    margin-left: 10px;
    height: 2em;
    left: 0;
    transform: translateX(0);
    img {
      padding: 5px;
    }
  }
  ul.right {
    .notification-menu {
      i {
        display: inline-block;
      }
      .notification-badge {
        position: relative;
        right: 5px;
        top: -20px;
        color: #ffffff;
        background-color: #FF4081;
        margin: 0 -.8em;
        border-radius: 50%;
        padding: 4px 7px;
      }
    }
    .notification-badge {
      position: relative;
      color: #ffffff;
      background-color: #FF4081;
      border-radius: 50%;
      padding: 0px 7px;
    }

    li:first-child {
      margin-right: 2em;
    }
    .account-menu {
      img {
        border-radius: 5px;
        height: 2.5em;
        width: 2.5em;
        margin-top: 12px;
        margin-bottom: -13px;
      }
    }
    img {
      border-radius: 5px;
      height: 2.5em;
      margin-top: 12px;
      margin-bottom: -13px;
    }
    #account-menu {
      a {
        padding: 12px 8px;
        i {
          font-size: 1.5em;
        }
      }

    }
  }
}