section#in-out-board {
  @extend section#body;
  background-image: url("/Assets/teams/default/background/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;

  .wrapper {
    margin-top: 50px;
    margin-bottom: 100px;
    .header-wrapper {
      @include margin(null, 0.5em, 3em, 0.5em);
      @include padding(0.5em, 0.5em, 0.5em, 0.5em);
      .logo {
        display: inline-block;
        img {
          height: 3em;
        }
      }
      .right {
        margin-right: 0.5em;
        a {
          color: white;
          span {
            display: block;
          }
        }
        ul li {
          @extend .inline;
          margin: 0 5px;
        }
      }
    }
    .form.row {
      position: relative;
      padding: 1.5em 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
    }
    form {
      margin-top: 1.5em;
    }
    .display-photo {
      height: 10em;
      width: 10em;
    }
  }
  .staff-details {
    color: white;
    .current-log {
      display: inline-block;
    }
    h4 {
      font-weight: 500;
      margin-bottom: 0.3em;
    }
    h6 {
      font-size: 1.2rem;
    }
  }
  .status {
    margin: 1em 0;
  }
  .time-out {
    padding-right: 3.7em;
    margin-top: 0.5em;
  }
}


