section#invite-list {
  @extend .container-margin;
  .no-section-margin {
    height: 55vh;
  }
  section#pending-invitations,
  section#accepted-invitations {
    margin-top: 0;
    border: none;
    border-top: solid 2px $gray-line;
    height: 100%;
    overflow: auto;
  }
  #send-invitation-modal {
    min-height: 39em;
    padding: 0 24px;
    box-shadow: none;
    background-color: transparent;
    .modal-content {
      padding-bottom: 0;
    }
    form {
      box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
      background-color: white;
    }
    .modal-footer {
      button {
        margin: 0 2.5px;
      }
    }
  }
}