section#login {

  @extend section#body;

  background-image: url("/Assets/teams/default/background/punchcard_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;

  main#main {
    flex: 1 0 auto;
  }

  .header-wrapper {
    margin-top: 30px;
    .logo {
      @include margin(null, 0.5em, 2em, 0.5em);
    }
    .form.row {
      outline: none;
      box-shadow: 0 0 15px $theme-color;
      position: relative;
      padding: 1.5em 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      margin-bottom: 0;

      //inputs
      input:not([type]):focus:not([readonly]),
      input[type=text]:focus:not([readonly]),
      input[type=password]:focus:not([readonly]),
      input[type=email]:focus:not([readonly]) {
        border-bottom: 1px solid $theme-color;
        box-shadow: 0 1px 0 0 $theme-color;
      }

      input:not([type]):focus:not([readonly]) + label,
      input[type=text]:focus:not([readonly]) + label,
      input[type=password]:focus:not([readonly]) + label,
      input[type=email]:focus:not([readonly]) + label {
        color: $theme-color !important;
      }
    }
    form, .form {
      padding: 0 1em;
      .input-field {
        width: 100% !important;
      }
      button {
        @include margin(0.5em, 0.5em, 0, 0.5em);
      }
    }
  }
  .circular-border {
    padding-top: 0 !important;
    .page-title {
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      margin: 0;
      padding: 0;
    }
    a.btn {
      height: 50px;
      line-height: 50px;
    }
  }
}
