section#manage-staff {
  table {
    thead {
      border-bottom-width: 2px;
      th {
        padding: 7px 5px;
      }
    }
    tbody {
      tr {
        td {
          padding: 10px 5px;
        }
      }
    }
    th:not(:first-child),
    td:not(:first-child) {
      text-align: center;
    }
    .status {
      margin-top: 1.5em;
      .status-indicator {
        vertical-align: text-top;
        margin-right: 0.5em;
        @extend .inline;
      }
    }
  }

  section#staff-details {

  }
}