section#navbar {
  ul {
    display: inline-block;
    & li {
      display: inherit;
      float: none;
      a {
        i {
          height: 0;
          line-height: 45px;
          font-size: 1.4rem;
        }
        span {
          position: relative;
          top: 12px;
        }
      }
    }
    nav {
      font-size: 0;
    }
  }
  #horizontal-nav {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    .nav-wrapper {
      background-color: rgba(10, 100, 134, 0.5);
      .menu-item {
        width: 14.2857142857%;
        display: inline-block;
        &.active {
          background-color: white;
          color: #6997a9;
        }
      }

    }
  }
}