section.not-found {
  @extend section.entry-point;
  .error-box {
    margin-bottom: 1em;
    padding: 10px 40px;
    background-color: rgba(30, 30, 30, 0.5);
    border: 1px solid #FF8F00;
    border-radius: 4px;
    h1 {
      font-size: responsive 31px 67.2px !important;
      i {
        margin-right: 0;
      }
    }
  }
  .container.body {
    padding: 0;
  }
}
