section#project-view {
  @extend .container-margin;
  margin-bottom: 0;
  .tabs-background {
    margin: 0;
  }
  .row {
    @extend .no-section-margin;
    section:not(:last-child) {
      border-right: solid 2px $gray-line;
    }
    .col {
      @extend .no-padding;
      margin: 0;
    }
    section.left {
      .collection {
        .collection-item.avatar {
          min-height: 50px;
          padding-left: 50px;
          .circle {
            width: 30px;
            height: 30px;
          }
        }
        .role {
          background-color: $gray-line;
        }
      }
    }
    section.middle {
      .inner-wrapper {
        margin: 0 2em;
      }
      section {
        border: none;
      }

      #DISCUSSIONS {
        div.inner-wrapper:first-child {
          margin: 1em 2em;
          line-height: 36px;
        }
      }

      .discussion-list {
        .discussion-item {
          @extend .inner-wrapper;
        }
      }
      .react-select-popover {
        @extend .no-padding
      }
      .comments, #task-create {
        @extend .no-border;
        @extend .no-vertical-margin;
      }
      .subproject {
        @extend .comments;
        article {
          margin: 0 1em;
        }
        .card {
          .content {
            .card-title {
              color: white;
              background: $theme-color;
              padding: 10px;
            }
            p {
              color: gray;
              padding: 0 10px;
            }
          }
        }
        .sub-create {
          border-top: solid 1px $gray-line;
        }
      }
    }
    section.right {

    }
  }

  section.phase-list {
    .phase-title {
      font-weight: 400;
      font-size: 22px;
    }
    .description {
      margin: 0;
    }
    .timeline {
      border-top: 1px solid $gray-line;
      border-bottom: 1px solid $gray-line;
      padding: 0.3em 0;
    }
    .team-lead {
      margin-bottom: 0;
    }
  }
}