section#project-view {
  @extend .container-margin;

  section.phase-list {
    .phase-title {
      font-weight: 400;
      font-size: 22px;
    }
    .description {
      margin: 0;
    }
    .timeline {
      border-top: 1px solid $gray-line;
      border-bottom: 1px solid $gray-line;
      padding: 0.3em 0;
    }
    .team-lead {
      margin-bottom: 0;
    }
  }
}