section#profile, section#edit-profile {
  @extend .container-margin;
  .card-title {
    display: none;
  }
  .display-photo {
    width: 11em;
    height: 11em;
    border-radius: 1em;
  }
  ul.collection {
    border: none;
    border-radius: 0;
    li span {
      color: #5D5D5D;
    }
  }
}