section#profile, section#edit-profile {
  @extend .container-margin;
  .card-title {
    display: none;
  }
  .display-photo {
    max-width: 14em;
    max-height: 14em;
    border-radius: 1em;
  }
  ul.collection {
    border: none;
    border-radius: 0;
    li span {
      color: #5D5D5D;
    }
  }
  .upload-area {
    margin: auto !important;
    float: none;
  }
}