section#settings {
  img {
    background: $gray-line;
    border-radius: 4px;
    margin-top: 3em;
    max-width: 38em;
    max-height: 15em;
  }
  .upload-area {
    margin: auto !important;
    float: none;
  }
}