section#settings {
  @extend .container-margin;
  img {
    background: $gray-line;
    border-radius: 4px;
    margin-top: 3em;
    height: 5em;
  }
  .upload-area {
    margin: auto !important;
    float: none;
  }
}