section#staff-list {
  .daterange {
    .col {
      padding: 0;
    }
  }
  .status {
    span {
      margin-left: 35px;
    }
  }

  #invitationaButton {
    button {
      margin: 1em 0;
    }
  }
}