section#staff-list {
  table {
    th, td {
      padding: 10px;
    }
    .staff-dp {
      width: 66px;
      padding-right: 0 !important;
    }

    .staff-details {
      padding-left: 0 !important;
      h6 {
        color: black;
        small {
          color: $dark-gray;
        }
      }
    }
  }

  .status {
    span {
      margin-left: 35px;
    }
  }
  .icons {
    a {
      padding: 10px;
    }
  }

  #invitationaButton {
    button {
      margin: 1em 0;
    }
  }
}