#staffProfile {
  table {
    width: auto !important;
    th {
      padding-right: 4em;
    }
  }
  #staff-project-list {
    float: right;
    ul {
      li {
        list-style-type: initial;
        a {
          text-decoration: underline;
          color: #38428c;
        }
      }
    }
  }
}