section#staff-list {
  @extend .container-margin;
  .collection {
    @include remove-section-margin;
    .collection-item {
      padding: 5px 0px 5px 90px;
      img.circle {
        margin-top: 1em;
        width: 60px;
        height: 60px;
      }
      table {
        width: auto;
        display: inline-block;
        td, th {
          padding: 0 5px;
        }
      }
      .col {
        padding: 0;
      }
      .total-time {
        margin-top: 1.6em;
        div:first-child {
          border-left: 1px dotted $gray-line;
          border-right: 1px dotted $gray-line;
        }
        div {
          border-right: 1px dotted $gray-line;
        }

        div.center-align {
          color: #999999;
          display: inline-block;
          padding: 0 1.5em;
        }
        h4 {
          margin: 0;
          color: $theme-color;
        }
      }
      .status {
        @extend .total-time;
        color: #999999;
        width: 100px;
        position: relative;
        border-right: 1px dotted $gray-line;
        .beacon {
          position: relative;
          display: block;
          border: none;
          height: 1em;
          width: 1em;
          margin: 0.8em auto 0.7em auto;
        }
      }
      .icons {
        @extend .total-time;
        position: relative;
        padding: 10px;
        img {
          cursor: pointer;
          padding: 5px;
        }
      }
    }
  }
  .tabs-background {
    background-color: $primary-color;
    margin: auto -0.8em;
  }
  .tabs-wrapper {
    height: 3em;
    width: 30em;
    margin: 0 auto;
    margin-bottom: -1px;
    z-index: 1;
    position: relative;
    .tabs {
      background-color: inherit;
      height: inherit;
      font-size: 10px;
      font-weight: bold;
      .indicator {
        background-color: white;
        height: 4em;
        z-index: -1;
      }
      .tab {
        line-height: 5em;
        height: inherit;
        a {
          color: white;
          &.active {
            color: $theme-color;
          }
        }
      }
    }
  }
  #invitationaButton {
    button {
      margin: 1em 0;
    }
  }
}