section.task-list {
  border-top: none !important;
  div:nth-child(1) a {
    display: block;
    line-height: 2em;
    color: rgba(0, 0, 0, 0.87);
    &:hover {
      color: $theme-color;
      text-decoration: underline;
    }
  }
  .input-field {
    margin-bottom: 15px;
  }
  .task-item {
    padding: 5px 10px;
    margin-bottom: 0.5em;
  }
}