section.task-list {
  @extend .container-margin;

  div:nth-child(1) a {
    display: block;
    line-height: 2em;
    color: rgba(0, 0, 0, 0.87);
    &:hover {
      color: $theme-color;
      text-decoration: underline;
    }
  }
  .input-field {
    margin-bottom: 15px;
  }
}