section.timesheet {
  @extend .container-margin;
  .approve-btn {
    margin-top: 1em;
  }
  .display-photo {
    height: 6em;
    width: 6em;
  }
  section.user-details {

  }

  section.datepicker-wrapper {
    margin: -0.8em;
    border-top: 1px solid #E8E8E8;
  }
  section.timesheet-table {
    @include remove-section-margin;
    thead {
      background-color: #454648;
      color: white;
    }
    td, th {
      border-radius: 0;
      padding: 7px 5px;
    }
  }
}