section.timesheet {
  @extend .container-margin;
  .approve-btn {
    margin-top: 1em;
  }
  .display-photo {
    height: 6em;
    width: 6em;
  }
  section.user-details {

  }

  section.datepicker-wrapper {
    margin: -0.8em;
    border-top: 1px solid #E8E8E8;
  }
  section.timesheet-table {
    @include remove-section-margin;
    thead {
      background-color: #454648;
      th {
        color: white;
      }
    }
    td, th {
      border-radius: 0;
      padding: 7px 5px;
    }
    td.rendered, .time-in, .time-out, .total-break {
      position: relative;
      div.edit {
        cursor: pointer;
        display: none;
        position: absolute;
        padding-left: 5px;
        i {
          font-size: 20px;
        }
      }
    }
    td.rendered:hover div.edit,
    .time-in:hover div.edit,
    .time-out:hover div.edit,
    .total-break:hover div.edit {
      display: inline-block !important;
    }
    .clickedit {
      input {
        width: 55%;
      }
      i.active {
        vertical-align: text-top !important;
      }
    }
  }
  .modal {
    overflow: visible;
  }
  section.daterange {
    .form-group {
      margin-bottom: 1em;
      input {
        width: auto;
        cursor: pointer;
      }
    }
  }
}