section#time-request {
  @extend .container-margin;
  td.staff {
    .dp {
      margin-right: 5px;
      img {
        height: 2.5em;
        width: 2.5em;
      }
    }
    .name {
      position: absolute;
      top: 10px;
    }
  }
  button {
    margin: 5px 0;
  }
  .content-padding {
    padding: 10px 0;
  }
  td, th {
    vertical-align: initial !important;
  }
}