section#time-request {
  td.staff {
    vertical-align: inherit !important;
    .dp {
      padding-top: 2px;
      img {
        @extend .dp-small;
      }
    }
    .name {
      position: absolute;
      top: 10px;
    }
  }
  button {
    margin: 5px 0;
  }
  .content-padding {
    padding: 10px 0;
  }
  td, th {
    vertical-align: initial !important;
  }
}